.container {
    width: 70%;
    margin: 30px auto;

    .search-blk {
        display: flex;
        align-items: center;

        .filter {
            margin-right: 30px;
        }

        .btn-blk {
            margin-bottom: 15px;

            button {
                padding: 3px 10px;
                margin-right: 30px;
            }

            btn-search {
                margin-right: 30px;

                mat-icon {
                    transform: scale(0.8);
                    margin-right: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .emp-table-container {
        width: 100%;
        margin: 1% auto;

        table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 1em; 

            th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #8a2be2;
                color: #ffffff;
            }

        }
    }
}