<button mat-raised-button color="primary" (click)="downloadPDF()">Download PDF</button>
<div class="container" id="container" #container style="width:100%">
    <div class="info">
        <h2 class="name"> {{arr[0].name}}</h2>
        <p>Email : <span>{{ arr[0].email}}</span> </p>
        <p>Phone : <span>{{ arr[0].phone}}</span> </p>
        <p>Created Date : <span>{{ arr[0].createdAt | date: 'dd/MM/YYYY'}}</span> </p>
    </div>
    <div class="about">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius consectetur rem sapiente laborum adipisci?
            Doloremque assumenda autem beatae adipisci cum vel rem, ipsum ullam quibusdam, quod atque,
            porro eius? Ullam.
        </p>
    </div>
    <div class="education">
        <h3 class="edu-title"> Education</h3>
        <div class="edu-content" *ngFor="let edu of arr[0].education;let i = index">
            <p class="edu">{{ edu.task}} <span> ({{ edu.startDate | date : 'dd/MM/YYYY'}} -
                    {{ edu.endDate | date: 'dd/MM/YYYY'}} )
                </span></p>
        </div>
    </div>
</div>